In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r"dataset_anime\animelist.csv")
df.head()

   user_id  anime_id  rating  watching_status  watched_episodes
0        0        67       9                1                 1
1        0      6702       7                1                 4
2        0       242      10                1                 4
3        0      4898       0                1                 1
4        0        21      10                1                 0

In [6]:
valid_status = [1, 2, 3, 4]
df = df.query("watching_status in @valid_status & rating != 0")
df.drop(["watching_status","watched_episodes"], axis=1, inplace=True)

C:\Users\Lucas\AppData\Local\Temp\ipykernel_12144\2644291865.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(["watching_status","watched_episodes"], axis=1, inplace=True)

In [7]:
df.count()

user_id     62122478
anime_id    62122478
rating      62122478
dtype: int64

In [8]:
df.to_csv("relation_rating.csv", index=False)

In [70]:
df_anime = pd.read_csv(r"dataset_anime\anime.csv")
df_anime.head(5)

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [71]:
df_anime.query("MAL_ID == 415")

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
388,415,Tonari no Yamada-kun,7.19,"Slice of Life, Comedy",My Neighbors the Yamadas,ホーホケキョ となりの山田くん,Movie,1,"Jul 17, 1999",Unknown,...,1245.0,2205.0,4290.0,5189.0,2826.0,1411.0,523.0,230.0,108.0,85.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62122478 entries, 0 to 109224745
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 1.9 GB

In [56]:
lis = df.query("user_id == 0")

In [67]:
obj = dict()
for user, anime, rating in zip(lis["user_id"], lis["anime_id"], lis["rating"]):
    try: 
        obj[str(user)].update({str(anime):rating})
    except KeyError:
        obj[str(user)] = {str(anime):rating}

print(obj)

{'0': {'67': 9, '6702': 7, '242': 10, '21': 10, '24': 9, '4722': 8, '6098': 6, '3125': 9, '481': 10, '68': 6, '1689': 6, '2913': 6, '1250': 7, '356': 9, '121': 9, '430': 9, '1829': 7, '1571': 10, '578': 10, '431': 8, '2762': 9, '570': 7, '3418': 9, '3010': 7, '1004': 5, '433': 6, '600': 6, '2034': 8, '164': 8, '4086': 6, '2248': 6, '1047': 6, '459': 9, '466': 7, '2543': 7, '419': 8, '199': 8, '169': 7, '2547': 7, '174': 4, '448': 5, '2236': 10, '415': 10, '1894': 7, '269': 9, '235': 10}}

In [64]:
df.user_id.unique

<bound method Series.unique of 0                 0
1                 0
2                 0
4                 0
5                 0
              ...
109224741    353404
109224742    353404
109224743    353404
109224744    353404
109224745    353404
Name: user_id, Length: 62122478, dtype: int64>